.menu{
    float: left;
    background-color: black;
    width: 100%;
    height: 50px;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
}
.menu ul li a:hover{
    background-color: #04AA6D;
}