*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body { 
    background : #000 url(images/bg.jpg) center top fixed no-repeat; 
    font : 16px Georgia , Serif ; color : #ccc;
    width: 100%;
    height: 100vh;
 }     


h1 { 
    width : 168px ;
    height : 130px ; 
    margin : 30px auto ; 
    position : relative ; 
    background : url (''); 
    text-indent : - 9999px ;
 }     


#container { 
    width : 940px ; 
    margin : - 115px auto ;
    padding : 110px 10px 50px 10px ; 
    background : url (''); 
    box-shadow : 0px 0px 15px #000; 
}           


table { 
    border-spacing : 10px 0px ; 
}  


th , td { 
    text-align : center ; 
    padding : 10px ; 
} 


.feature { 
    width : 183px ; 
    text-align : right ; 
    font-size : 24px ; 
    font-weight : normal ;
     color : #fff; 
    }   


.Shapeheart , .FlipBelt , .NURVV { 
    background : rgba ( 255 , 255 , 255 , 0.05 );
 }  
.NURVV img{
    width: 200px;
    height: 200px;
 }
 .Shapeheart img{
     width: 200px;
     height: 200px;

 }


h2 { 
    font-size : 24px ;
     font-weight : normal ; 
     color : #fff; 
    }  


tr:hover { 
    background : rgba ( 255 , 255 , 255 , 0.05 ); 
} 
tr:hover { 
    background : none ; 
}
@media screen and (max-width:950px){
    #container{
        margin-left: -30px;
    }
    h2{
        font-size: 17px;
    }
    .NURVV img{
        width: 130px;
        height: 100px;
    }
    .Shapeheart img{
        width: 130px;
        height: 130px;
    }
    .FlipBelt img{
        width: 110px;
        height: 130px;
    }
    .feature{
        font-size: 17px;
        padding: 5px;
    }
    .FlipBelt, .NURVV, .Shapeheart{
        padding: 5px;
        font-size: 15px;
    }

}
@media screen and (max-width:545px){
    .NURVV img{
        width: 90px;
        height: 100px;
    }
    .Shapeheart img{
        width: 90px;
        height: 130px;
    }
    .FlipBelt img{
        width: 90px;
        height: 130px;    
    }
    .feature{
        font-size: 14px;
        padding: 3px;
    }
    .FlipBelt, .NURVV, .Shapeheart{
        padding: 3px;
        font-size: 13px;
    }
    h2{
        font-size: 14px;
    }
    #container{
        margin-left: -30px;
    }
}
.menu{
    background-color: mediumturquoise;
}